body{
	font-family: 'Montserrat', sans-serif;

}
.service{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 550px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.about-content i{
	font-size: 35px;
}
.service img{
	width: 300px;
	height: 300px;
}
.section-banner{
	background: url(../images/bn2.jpg);
	height: 250px;
	background-size: cover;
	background-position: center;
	color: #ffffff;
}
.project{
	background-color: dimgrey;
}
.project .card{
	margin-top: 20px;
	background-color: lightblue;
}
.card-text{
	margin-top: 10px;
}
.resume{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
}
.resume-part{
	margin-left: 10%;
}

.resume a{
	color: crimson;
}
.what-do{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
}
.what-do img{
	margin-top: -80px;
}
.scrollup {
    position: fixed;
    bottom: 20px;
    right: 15%;
    display: none;
}
.scrollup i{
	font-size: 30px;
	color: #ffffff;
}
.contact-content{
	background-color: darkslategrey;
	color: #ffffff;
}
.contact-content form input{
	background: transparent;
	color: floralwhite;
}
.contact-content form textarea{
	background: transparent;
	color: floralwhite;
}














