body{
	font-family: 'Montserrat', sans-serif;

}
.service{
	background-image: url(../images/bg.jpg);
}
.about-content i{
	font-size: 35px;
}
.service img{
	width: 300px;
	height: 300px;
}
.section-banner{
	background: url(../images/bn2.jpg);
	height: 250px;
	background-size: cover;
	background-position: center;
	color: #ffffff;
}
.what-do img{
	margin-top: -80px;
}
.scrollup {
    position: fixed;
    bottom: 20px;
    right: 15%;
    display: none;
}
.scrollup i{
	font-size: 30px;
	color: #ffffff;
}
footer{
	margin-bottom: 20px;
}














